<p id="notice"><%= notice %></p>
<h3>Registrierungen für <%= @Project.title %></h3>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @job.project_id %>
</p>

