<%# add navigation links to this file %>
<div class="top-bar-section">
    <ul>
      <li class="has-dropdown">
        <a href="#">Menu</a>
        <ul class="dropdown">
          <% if current_user %>
            <li><%= link_to current_user.name, user_path(current_user.id) %></li>
            <li><%= link_to "Abmelden" , session_path, method: :delete %></li>
            <li><%= link_to "Ereignisse" , reports_path %></li>

            <li><%=link_to "Admin Bereich", admin_pages_index_path if current_user_admin?%></li>
          <%else%>
            <li><%=link_to "Anmelden", signin_path %></li>
          <%end%>
        </ul>
      </li>
    </ul>
  </div>
