
<script src="js/foundation-datepicker.js"></script>
<script src="js/locales/foundation-datepicker.de.js"></script>

<script>
$('.fdatepicker').fdatepicker({
  language: 'de'
});
</script>

<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <hr>
    <h6> Meldender: </h6>  
    <%= f.radio_button :user_id, session[:user_id], :checked => true %> <%= User.find_by(id: session[:user_id]).name  %> <br>
    <%= f.radio_button :user_id, User.find_by(name: "Anonym").id %> Anonym
  </div>

  <div class="field">
    <h6> Zeitpunkt des Ereignisses? </h6>  
   <%= f.text_field :wann , id: "dpt"%>
    <script>
    $(function(){
      $('#dpt').fdatepicker({
        format: 'dd-mm-yyyy hh:ii',
        disableDblClickSelection: true,
        language: 'de',
        pickTime: true
      });
    });
    </script>
  </div>
  <link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

  <div class="field">
    <h6> Ort des Ereignisses:</h6>
    <%= f.collection_select :place_id, Place.all, :id, :bezeichnung, :prompt => "Bitte Wählen"%>
  </div>
  <div class="field">
    <h6> Beschreibung des Ortes:</h6>
    <%= f.text_area :beschr_ort %>
  </div>
  <div class="field">
    <h6> Beschreibung des Ereignisses</h6>
    <%= f.text_area :ereignis %>
  </div>
  <div class="field">
    <h6> Unfallkategorie: </h6>
    <%= f.collection_select :category_id, Category.all, :id, :titel, :prompt => "Bitte Wählen"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
