<h1>Aufgaben</h1>
<h5>Unfälle:</h5>
  <table>
    <thead>
      <tr>
        <th>Verantwortlicher</th>
        <th>Erstellt</th>
        <th>Beendet</th>
        <th>Unfall ID</th>
        <th>SAP Nr.</th>
        <th>MODI Nr.</th>
        <th colspan="3"></th>
      </tr>
    </thead>
 
    <tbody>
        <% @tasks.each do |task| %>
          <% if task.accident_id.present? %>
            <tr>
              <td><%= user_name(task.user_id).name %></td>
              <td><%= task.start_date %></td>
              <td><%= task.end_date %></td>
              <td><%= task.accident_id%></td>
              <td><%= task.sap_nr %></td>
              <td><%= task.modi_nr %></td>
              <td><%= link_to 'Anzeigen', task %></td>
              <td><%= link_to 'Ändern', edit_task_path(task) %></td>
              <td><%= link_to 'Löschen', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <%end%>
        <%end%>

    </tbody>
  </table>
<h5>Ereignisse:</h5>
  <table>
    <thead>
      <tr>
        <th>Verantwortlicher</th>
        <th>Erstellt</th>
        <th>Beendet</th>
        <th>Ereignis ID</th>
        <th>SAP Nr.</th>
        <th>MODI Nr.</th>
        <th colspan="3"></th>
      </tr>
    </thead>
 
    <tbody>
        <% @tasks.each do |task| %>
          <% if task.report_id.present? %>
            <tr>
              <td><%= user_name(task.user_id).name %></td>
              <td><%= task.start_date %></td>
              <td><%= task.end_date %></td>
              <td><%= task.report_id%></td>
              <td><%= task.sap_nr %></td>
              <td><%= task.modi_nr %></td>
              <td><%= link_to 'Anzeigen', task %></td>
              <td><%= link_to 'Ändern', edit_task_path(task) %></td>
              <td><%= link_to 'Löschen', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <%end%>
        <%end%>
    </tbody>
  </table>  




