<h1>
<%if @movies.size > 1 %>
	<%="MOVIES" %>
<%else %>
	<%="MOVIE" %>
<%end %>
</h1>

<table border = "1">
<thead>
<tr>
	<th>title</th>
	<th>rating</th>
	<th>total_gross</th>
	<th>description</th>
	<th>released_on</th>
	<th>Anzeigen</th>
</tr>
</thead>

<tbody>
 <% @movies.each do |movie| %>
<tr>
	<td><%=  movie.title %></td>
	<td><%=  movie.rating %></td>
	<td><%=  compare(movie) %></td>
	<td><%=  truncate(movie.description, length: 40, seperator: " ") %></td>
	<td><%=  movie.released_on %></td>
	<td><%= link_to "Show", movie_path(movie.id)%></td>
</tr>
<%end %>
</tbody>
</table>