<h1>MOVIES</h1>

<table border = "1">
 <% @movies.each do |movie| %>
 <tr>
<th><%=  movie.title %></th>
<th><%=  movie.rating %></th>
<th><%=  movie.total_gross %></th>
<th><%=  movie.description %></th>
<th><%=  movie.released_on %></th>
</tr>
<%end %>
</table>