<h1><%= @movie.title %></h1>
<p><%= @movie.description%></p>
<p><%= image_for(@movie) %></p>
<p>
	<h3>Rating</h3>
	<%= @movie.rating %>
	<h3>Start</h3>
	<%= @movie.released_on %>
	<h3>Einnahmen</h3>
	<%= @movie.total_gross %>
	<h3>Besetzung</h3>
	<%= @movie.cast %>
	<h3>Regie</h3>
	<%= @movie.direction %>
	<h3>Laufzeit</h3>
	<%= @movie.duration %>
</p>

<%  if @fans.any? %>
	<h3>Fans:</h3>
	<ul>
		<% @fans.each do |fan| %>
			<li>
				<%= (User.find_by(id: "#{fan.user_id}")).name  %>
			</li>
		<%end%>
	</ul>
<%end%>

<% if @current_fan %>
	<%= button_to "Unlike", movie_favorite_path(@movie, @current_fan), class: "button", method: :delete %>
<%else%>
	<h5>Sei der erste Fan!!</h5>
	<%= button_to "Like", movie_favorites_path(@movie), class: "button" %>
<%end%>
<p>
	<div class="button-group">
		<%= link_to "Alle Events anzeigen", movies_path, class: "button"%>
		<%= link_to "Back", request.referer, class: "button" %>
		<%= link_to "Review", new_movie_review_path(@movie.id), class: "button" %>
	</div>
</p>