<p id="notice"><%= notice %></p>

<h1>Orte</h1>

<table>
  <thead>
    <tr>
      <th>Kostenstelle</th>
      <th>Bezeichnung</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.kostenstelle %></td>
        <td><%= place.bezeichnung %></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Ort', new_place_path %> |
<%= link_to 'Admin Bereich', admin_pages_index_path %>

