<table>
  <thead>
    <tr>
      <th>Wann</th>
      <%if current_user_sifa?%>
        <th>Wer</th>
      <%end%>
      <th>Was</th>
      <th>Arzt</th>
      <th>Ausfall</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% object.each do |accident| %>
      <tr>
        <td><%= accident.wann %></td>
        <%if current_user_sifa?%>
          <td><%= accident.wer %></td>
        <%end%>
          <td><%= accident.was %></td>
        <% if accident.arzt == true %>
          <td>Ja</td>
        <%else%>
          <td>Nein</td>
        <%end%>
        <td><%=  pluralize(accident.ausfall, "Tag", "Tage") %></td>
        <td><%= link_to 'Anzeigen', accident %></td>
        <td><%= link_to 'Ändern', edit_accident_path(accident) %></td>
        <td><%= link_to 'Löschen', accident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
