<h3> Suchoptionen </h3>


<%= form_tag search_results_accident_path, method: 'get' do |f|%>


<%= text_field_tag :dp2, "#{(Date.today - 100.day).strftime('%d.%m.%Y')}"%>
<script>
$(function(){
  $('#dp2').fdatepicker({
		closeButton: true,
		format: 'dd.mm.yyyy'
	});
});
</script>


<%= text_field_tag :dp3, "#{Date.today.strftime('%d.%m.%Y')}"%>
<script>
$(function(){
  $('#dp3').fdatepicker({
		closeButton: true,
		format: 'dd.mm.yyyy'
	});
});
</script>
 <link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
Volltextsuche
<%= text_field_tag :search_keywords %>

<%= submit_tag "Suchen" %>
<%end%>