<br>
<p>
  <strong>Wann:</strong>
  <%= @accident.wann %>
</p>

<p>
  <strong>Wer:</strong>
  <%= @accident.wer %>
</p>

<p>
  <strong>Was:</strong>
  <%= @accident.was %>
</p>

<p>
  <strong>Arzt:</strong>
  <%= @accident.arzt %>
</p>

<p>
  <strong>Ausfall:</strong>
  <%= pluralize(@accident.ausfall, "Tag", "Tage") %>
</p>
<% if current_user_sifa?%>
<!-- Übergabeparameter werden in der Session gespeichert-->
<% session[:ar_id] = @accident.id %>
<% session[:accident] = true %>
<% session[:report] = false %>
<%= link_to 'Aufgabe erstellen', new_task_path%>
<%end%>
