

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Division:</strong>
  <%= @user.division.bezeichnung if @user.division_id.present? %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> | 
<%=link_to "Admin Bereich", admin_pages_index_path if current_user_admin?%>