<br>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Division:</strong>
  <%= @user.division.bezeichnung if @user.division_id.present? %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Sicherheitsfachkraft:</strong>
  <%= @user.sifa %>
</p>

<p>
  <strong>Verantwortlich:</strong>
  <%= @user.verantwortlich %>
</p>


<%= link_to 'Ändern', edit_user_path(@user)%> <br>